<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
      <link rel="stylesheet" href="styles.css?v=1.2">
      <script src="script.js?v=1.2"></script>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">A Smart Solution for Cognitive Balance<br></div>
              <div class="intro-lead-in">Beyond Digital Fatigue, Restoring Your Brain’s Harmony</div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
